header, .navbar{
    background-color: #F18686
}

main {
    display: flex;
}

#navbar-links{
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
}

#navbar-links a{
    color: black;
}

#navbar-links a:hover{
    color: aliceblue;
}

#logo{
    width: 100px;
    margin-left: 25px;
}

#sm-logos{
    width: 30px;
    margin-right: -0.7%;
}

.flaviocenter{
    display: inline-block;
}

#bluediv{
    background-color: #4682B4;
    width: 30vw;
    height: 100vh;
    text-align: center;
}

#whitediv{
    background-color: white;
    width: 70vw;
    height: 100vh;
    padding-left: 150px;
}

#me{
    
}